{:linters {:aliased-namespace-symbol              {:level :warning}
           :case-symbol-test                      {:level :warning}
           :condition-always-true                 {:level :warning}
           :bb.edn-task-missing-docstring         {:level :warning}
           :docstring-no-summary                  {:level :warning}
           :docstring-leading-trailing-whitespace {:level :warning}
           :dynamic-var-not-earmuffed             {:level :warning}
           :equals-false                          {:level :warning}
           :equals-true                           {:level :warning}
           :def-fn                                {:level :warning}
           :reduce-without-init                   {:level :warning}
           :keyword-binding                       {:level :warning}
           :main-without-gen-class                {:level :error}
           :minus-one                             {:level :warning}
           :missing-docstring                     {:level :warning}
           :plus-one                              {:level :warning}
           :redundant-fn-wrapper                  {:level :warning}
           :redundant-call                        {:level :warning}
           :refer                                 {:level :warning
                                                   :exclude [clojure.test]}
           :single-key-in                         {:level :warning}
           :shadowed-var                          {:level :warning}
           :unused-alias                          {:level :warning}
           :used-underscored-binding              {:level :warning}
           :unsorted-imports                      {:level :warning}
           :unsorted-required-namespaces          {:level :warning}
           :warn-on-reflection                    {:level :warning}
           :unresolved-namespace                  {:level :warning}}}
